
.header-principal {
    height: 70px;
    transition: all .3s ease;
    display: flex;
    position: relative;

    &__left{
        width: 30%;
        z-index: 99;
        padding: 20px 30px;

        a{
            &:hover{
                border:none;
            }
            img{
                // margin-top: 20px;
                
                width: 150px;
                height: auto;
                @media only screen and (max-width:767px) {
                    width: 100px;
                }
            }

            svg{
                width: 150px;
                height: auto;
                @media only screen and (max-width:767px) {
                    width: 100px;
                }
            }
        }
    }

    &__right{
        display: none;
        overflow: hidden;
        
        transition: all .6s ease;
        &.active{
            width: 100vw;
            height: 100vh;

            display: flex;
            position: fixed;

            background: $roxo;
            top: 0;
            justify-content: center;
            z-index: 99;
            padding: 20px 30px;

            .header-principal__right--drop {
                justify-content: center;
                padding-top:50px;

                li{
                    display: block;
                    text-align: center;
                    
                }

                a{
                    display: block;
                    padding: 18px 15px;
                    text-decoration: none;
                    font-weight: bolder;
                    font-size: 30px;
                    @media only screen and (max-width:767px) {
                        font-size: 20px;
                        padding: 8px 15px;
                    }
                    color: #eff0f4;
                    transition: all .3s ease;

                    &:hover{
                        display: block;
                        padding: 18px 15px;
                        text-decoration: none;
                        color: #eff0f4;
                        background-color: $salmao;
                        border: none;
                    }
                }
            }
        }
        
    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 40px;
        width: 50px;
        height: 50px;
        z-index: 130;
        transition: all .3s ease;
        @media only screen and (max-width:767px) {
            right: 20px;
            width: 30px;
            height: 30px;
        }

        &:hover{
            cursor: pointer;
            transform: scale(1.1,1.1);
        }
        &--menu-burguer{
            display: block;

            z-index: 140;
            background: $salmao;
            height: 4px;
            width: 30px;
            border-radius: 15px;
            transition: all .3s ease;
            @media only screen and (max-width:767px) {
                width: 20px;
            }

            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                z-index: 140;
                background: $salmao;
                height: 4px;
                width: 30px;
                border-radius: 15px;
                @media only screen and (max-width:767px) {
                    width: 20px;
                    top: 20px;                    
                }

            }
            &:after{
                content: '';
                display: block;
                position: absolute;
                bottom: 10px;
                z-index: 140;
                background: $salmao;
                height: 4px;
                width: 30px;
                border-radius: 15px;
                transition: all .3s ease;
                @media only screen and (max-width:767px) {
                    width: 20px;
                    bottom: 20px;
                }
            }

            &.active{
                background: transparent;
                

                &:after{
                    transform: translate(0px, -13px) rotate(-45deg);
                    @media only screen and (max-width:767px) {
                        transform: translate(0px, 13px) rotate(-45deg);
                    }
                }
                
                &:before{
                    transform: translate(0px, 13px) rotate(45deg);
                    @media only screen and (max-width:767px) {
                         transform: translate(0px, 0px) rotate(45deg);
                    }
                }


            }

            
        }
    }

    
}

