.face {
    background-color: #3b5998;
    transition: all .3s ease;
}

.face:hover {
    background-color: #6d84b4;
}

.twitter {
    background-color: #0084b4;
    transition: all .3s ease;
}

.twitter:hover {
    background-color: #00aced;
}

.linkedin {
    background-color: #007bb5;
    transition: all .3s ease;
}

.linkedin:hover {
    background-color: #0e90a8;
}

.instagram {
    background-color: #e95950;
    transition: all .3s ease;
}

.instagram:hover {
    background-color: #cd486b;
}