// Cores do tema
$roxo:#26053f;
$salmao: #f3615f;
$cinza-claro:#f1f1f1;
$cinza-escuro:#333;

// Cores das redes sociais
$facebook:#3b5998;
$twitter:#00aced;
$youtube:#bb0000;
$linkedin:#007bb6;
$pinterest:#cb2027;
$instagram:#e95950;

// Cores de alerta
$primary-alert:rgb(151, 200, 252);
$secundary-alert:rgb(184, 191, 199);
$sucess-alert:rgb(163, 250, 136);
$danger-alert:rgb(238, 107, 107);
$warning-alert:rgb(248, 200, 155);
$info-alert:rgb(186, 151, 252);;
